/* ============================================
            Types and Colors Key
============================================*/
$bug: #C3D21F;
$electric: #FEE844;
$fire: #FA5442;
$grass: #86D04C;
$normal: #B8B7A9;
$rock: #CEBD72;
$dark: #8D6855;
$fairy: #F9ADFF;
$flying: #79A3FF;
$ground: #F0CF5C;
$poison: #AA5DA1;
$steel: #C4C2D9;
$dragon: #8975FF;
$fighting: #A75545;
$ghost: #7975D7;
$ice: #96F1FF;
$psychic: #FA64B5;
$water: #56B0FF;
.bug {background-color: $bug} 
.electric  {background-color: $electric} 
.fire {background-color: $fire} 
.grass {background-color: $grass} 
.normal {background-color: $normal} 
.rock {background-color: $rock} 
.dark {background-color: $dark} 
.fairy {background-color: $fairy} 
.flying {background-color: $flying} 
.ground {background-color: $ground} 
.poison {background-color: $poison} 
.steel {background-color: $steel} 
.dragon {background-color: $dragon} 
.fighting {background-color: $fighting} 
.ghost {background-color: $ghost} 
.ice {background-color: $ice} 
.psychic {background-color: $psychic} 
.water {background-color: $water}
/* ============================================
            Types and Colors Key
============================================*/

:host {
    display: block;
    margin: 1rem;
}

.team-container {
    padding: 1rem;
}

.team-member:first-child {
    margin-top: 0;
}
.team-member {
    margin-top: 1rem;
    border: 1px solid #CCCCCC;
    // justify-content: space-between;
    display: flex;
    
}

.member-header {
    width: 20%;
    height: 100%;
    padding: .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;

    h2 {
        text-align: center;
        margin: 0;
    }

    img {
        height: 120px;
        width: 120px;
        margin: auto;
    }

    div {
        display: flex;
        align-content: center;
        flex-direction: row;
        margin: .5rem;

        p {
            margin: auto;
        }
    }
}

.type-icon {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    padding: 3px;
    margin: 0 8px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 3px #000000;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.71);
    border-radius: 17px;
    font-family: 'Josefin Sans', sans-serif;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;

    .stat span:first-child {
        width: 10%;
        border-right: #CCCCCC solid 2px;
    }

    .stat {
        display: flex;
        margin: auto 0;
        height: 2rem;
        align-content: space-between;
        border: 3px solid Red;
    }

}

.pokemon-options {
    width: 4rem;
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    div {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    div button {
        margin: 5px auto;
    }

    div button:nth-child(3) {
        margin: 0 auto 5px auto;
    }

    button {
        min-width: 35px;
        width: 35px;
        margin: auto;

        hc-icon {
            color: #000000;
        }
    }

    .giga-btn {
        hc-icon {
            color:#a082dd;
        }
    }
}