<hc-modal>
    <hc-modal-header>Add a Pokémon to your team!</hc-modal-header>
    <hc-modal-body>

        <form hcForm >
            <!-- <hc-form-field> -->
                <hc-label>Enter the name of the Pokémon that you want to add to your team.</hc-label>
                <input hcInput autofocus required [formControl]="inputControl" />
            <!-- </hc-form-field> -->
        </form>

    </hc-modal-body>
    <hc-modal-footer>
        <button hc-button buttonStyle="link" (click)="cancel()">Cancel</button>
        <button hc-button buttonStyle="primary" (click)="close()">OK</button>
    </hc-modal-footer>
</hc-modal>
