<hc-modal>
    <hc-modal-header>About</hc-modal-header>
    <hc-banner type="warning">
        <span hcBannerStamp>WARNING</span>
        Not Yet Functional! No matter what you do, it will partially generate a MissingNo!
    </hc-banner>
    <hc-modal-body>

        <form hcForm >
            <!-- <hc-form-field> -->
                <hc-label>Enter the name of the Pokemon that you want to add to your team!</hc-label>
                <input hcInput autofocus required [formControl]="inputControl" />
            <!-- </hc-form-field> -->
        </form>

    </hc-modal-body>
    <hc-modal-footer>
        <button hc-button buttonStyle="link" (click)="cancel()">Cancel</button>
        <button hc-button buttonStyle="primary" (click)="close()">OK</button>
    </hc-modal-footer>
</hc-modal>
