<hc-modal>
    <hc-modal-header>About</hc-modal-header>
    <hc-banner type="warning">
        <span hcBannerStamp>WARNING</span>
        Not Yet Functional! No matter waht you do, it will generate a Mudkip!
    </hc-banner>
    <hc-modal-body>
        
        <hc-form-field>
            <input hcInput required />
        </hc-form-field>

    </hc-modal-body>
    <hc-modal-footer>
        <button hc-button buttonStyle="link" (click)="cancel()">Cancel</button>
        <button hc-button buttonStyle="primary" (click)="close()">OK</button>
    </hc-modal-footer>
</hc-modal>
