/* ============================================
            Types and Colors Key
============================================*/
$bug: #c3d21f;
$electric: #fee844;
$fire: #fa5442;
$grass: #86d04c;
$normal: #b8b7a9;
$rock: #cebd72;
$dark: #8d6855;
$fairy: #f9adff;
$flying: #79a3ff;
$ground: #f0cf5c;
$poison: #aa5da1;
$steel: #c4c2d9;
$dragon: #8975ff;
$fighting: #a75545;
$ghost: #7975d7;
$ice: #96f1ff;
$psychic: #fa64b5;
$water: #56b0ff;
$missingNo: #000000;

.bug {
    background-color: $bug;
}
.electric {
    background-color: $electric;
}
.fire {
    background-color: $fire;
}
.grass {
    background-color: $grass;
}
.normal {
    background-color: $normal;
}
.rock {
    background-color: $rock;
}
.dark {
    background-color: $dark;
}
.fairy {
    background-color: $fairy;
}
.flying {
    background-color: $flying;
}
.ground {
    background-color: $ground;
}
.poison {
    background-color: $poison;
}
.steel {
    background-color: $steel;
}
.dragon {
    background-color: $dragon;
}
.fighting {
    background-color: $fighting;
}
.ghost {
    background-color: $ghost;
}
.ice {
    background-color: $ice;
}
.psychic {
    background-color: $psychic;
}
.water {
    background-color: $water;
}
.Ň̷̨ȕ̷͕l̷͇̑l̸̠̏ {
    background-color: $missingNo;
} //No ragrets
/* ============================================
            Types and Colors Key
============================================*/